feedback/
output/
data/
clean_angular/
commands
scripts/ngData/
scripts/log.update
scripts/single_es_out.log

# Angular files
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
app_angular/dist
app_angular/tmp
app_angular/out-tsc
app_angular/public
app_angular/prod_work
app_angular/aot_files/favicon.ico
app_angular/src/favicon.ico
app_angular/aot_files/htppwd/

# dependencies
app_angular/node_modules

# IDEs and editors
app_angular/.sass-lint.yml

# misc
npm-debug.log

# System Files
app_angular/.DS_Store
app_angular/Thumbs.db

# AOT files
app_angular/src/styles.css
app_angular/src.old

app_uni/scripts/htppwd/data
app_uni/saves

# Data files
app_angular/src/app/_data
