<div class="tab-month">
  <h1>{{title}} {{month}} {{year}} is - <b>{{tcc_total.haw}} %</b></h1>
  <div class='chart'>
    <mat-card class="chart-card">
      <mat-card-header>{{cardHeader}}</mat-card-header>
      <mat-card-content>
        <div *ngFor="let haw of haw_data">
          {{haw.prefix}} - {{haw.pct}} %
        </div>
      </mat-card-content>
    </mat-card>
    <google-chart #chart
      [type]="type"
      [data]="data"
      [columnNames]="columnNames"
      [options]="options"
      [width]="width"
      [height]="height">
    </google-chart>
  </div>
</div>
