<mat-tab-group mat-align-tabs="end">
  <mat-tab label="total">
    <ng-template matTabContent>
      <data-2017-total></data-2017-total>
    </ng-template>
  </mat-tab>
    <mat-tab label="annual">
      <ng-template matTabContent>
        <data-2017-annual></data-2017-annual>
      </ng-template>
    </mat-tab>
    <mat-tab label="12">
      <ng-template matTabContent>
        <data-2017-12></data-2017-12>
      </ng-template>
    </mat-tab>
    <mat-tab label="11">
      <ng-template matTabContent>
        <data-2017-11></data-2017-11>
      </ng-template>
    </mat-tab>
    <mat-tab label="10">
      <ng-template matTabContent>
        <data-2017-10></data-2017-10>
      </ng-template>
    </mat-tab>
    <mat-tab label="9">
      <ng-template matTabContent>
        <data-2017-9></data-2017-9>
      </ng-template>
    </mat-tab>
    <mat-tab label="8">
      <ng-template matTabContent>
        <data-2017-8></data-2017-8>
      </ng-template>
    </mat-tab>
    <mat-tab label="7">
      <ng-template matTabContent>
        <data-2017-7></data-2017-7>
      </ng-template>
    </mat-tab>
    <mat-tab label="6">
      <ng-template matTabContent>
        <data-2017-6></data-2017-6>
      </ng-template>
    </mat-tab>
    <mat-tab label="5">
      <ng-template matTabContent>
        <data-2017-5></data-2017-5>
      </ng-template>
    </mat-tab>
</mat-tab-group>
<unis-root></unis-root>
