<section class="mat-typography">
  <h1 class="title mat-display-1">{{title}}</h1>
  <nav class="navs">
    <div>
      <button mat-button color="primary" routerLink="2019">2019</button>
      <button mat-button color="primary" routerLink="2018">2018</button>
      <button mat-button color="primary" routerLink="2017">2017</button>
    </div>
      <button mat-button color="accent" routerLink="users">Users</button>
  </nav>
  <router-outlet></router-outlet>
</section>

<footer class="mat-typography">
  <p class="body-1">&copy; 2019 Hochschule Esslingen, Alexandru Saramet</p>
</footer>
